{% load static %} 

{% block javascript %}
<script src="{% static 'js/prism.js' %}" defer></script>
{% endblock javascript %} 

{% if snippet.title %}

<div class="card p-5">
  <div class="snippet-header-cont">
    <h2 class="title is-4 is-primary card-header p-3">{{ snippet.title }} | {{ snippet.lang }}</h2>

    {% if user.pk != request.user.pk %}
    <form action="{% url 'copy_snippet' pk=snippet.pk %}" method="POST">
      {% csrf_token %}
      <button class="button is-primary">Copy</button>
    </form>
    {% endif %} 

  </div>
  {% endif %}

  <div class="card-content">
    <div class="content">

      {% if snippet.snippet %}
      <div class="highlight">
        <pre><code class="language-{{ snippet.lang }}">{{ snippet.snippet }}</code></pre>
      </div>
      {% endif %} 
      
      {% if snippet.public %}
      <div class="is-italic has-text-primary has-background-primary-light pl-3 pr-3 pt-1 pb-1">
        <p style="text-align: left">Public
      {% else %}
      <div class="is-italic has-text-info has-background-info-light pl-3 pr-3 pt-1 pb-1">
        <p style="text-align: left">Private
        {% endif %} 
        {% if snippet.author %}
          <span style="float: right">
            <a href="{% url 'user_profile' username=snippet.author %}" class=py-3>   {{ snippet.author }}</a>
          </span>
        {% endif %}
        {% if snippet.original_snippet %}
            <span>
              <a href="{% url 'user_profile' username=snippet.original_snippet.author.username %}"> |  copied from: {{ snippet.original_snippet.author }} </a>
            </span>
        </p>
        </p>
        {% endif %}
      </div>
    </div>
  </div>
</div>
<div></div>

<style>
  .snippet-header-cont {
    display: flex;
    justify-content: space-between;
    margin: 0px 29px 0px 29px;
    align-items: center;
  }
</style>

