{% extends "base.html" %} {% block content %}



<div class="search-container">
  <div class="field is-grouped">
    <p class="control is-expanded">
      <input class="input" type="text" placeholder="Search all snippets">
    </p>
    <p class="control">
      <a class="button is-info">
        Search
      </a>
    </p>
  </div>
</div>

  <section class="container pt-5">
    {% for snippet in snippets %}
    <div class="snippet mb-6">
      <div>{% include 'snippets/_snippet_template.html' %}
      </div>
    </div>
    <br>
    {% endfor %}
  </div>
</div>
</section>

<style>
  .search-container{
    
    width: 40%;
    margin: 20px;
  }
</style>

{% endblock %}
