{% extends "base.html" %} {% block content %}
<div class="hero is-dark">
  {% if user.username %}
<h1 class="subtitle has-text-white p-5 is-uppercase">{{ user.username }}'s Profile</h1>
</div>
{% endif %}

<h2 class="title pl-5 pr-5 pt-5 has-text-centered">My Snippets</h2>



<section class="is-flex">
  <div class="container pt-5">
    {% for snippet in snippets %}
    <div class="snippet">
      <div>{% include 'snippets/_snippet_template.html' %}
        <footer class="card-footer">
        <a href="{% url 'edit_snippet' pk=snippet.pk %}" class="card-footer-item">Edit</a><br>    
        <a href="{% url 'delete_snippet' pk=snippet.pk %}"  class="card-footer-item has-text-danger">Delete</a>
        </footer>
      </div>
    </div>
    {% endfor %}
  </div>
</section>

{% endblock %}
